<%
  const nav_active_home = nav_active == 'home' ? 'active' : ''
  const nav_active_group = nav_active == 'groups' ? 'active' : ''
  const nav_active_test = nav_active == 'tests' ? 'active' : ''
%>


<div class="container">
  <!-- logo -->
  <div class="logo">
    <a href="/">
      <img src="./client/images/logo.png" alt="">
    </a>
  </div>
  <!-- nav menu -->
  <ul class="navbar">
    <li>
      <a href="/" class="<%= nav_active_home %> nav_link">
        <i class="icon fa-solid fa-house"></i>
        <span class="text">Գլխավոր</span>
      </a>
    </li>
    <li>
      <a href="#about" class="nav_link" data-section="about">
        <i class="icon fa-solid fa-info-circle"></i>
        <span class="text">Մեր Մասին</span>
      </a>
    </li>
    <li>
      <a href="/groups" class="nav_link <%= nav_active_group %>">
        <i class="icon fa-solid fa-users"></i>
        <span class="text">Խմբեր</span>
      </a>
    </li>
    <li>
      <a href="/tests" class="nav_link <%= nav_active_test %>">
        <i class="icon fa-solid fa-file-alt"></i>
        <span class="text">Թեստեր</span>
      </a>
    </li>
    <li>
      <a href="#reviews" class="nav_link" data-section="reviews">
        <i class="icon fa-solid fa-star"></i>
        <span class="text">Կարծիքներ</span>
      </a>
    </li>
    <li>
      <a href="#contact" class="nav_link" data-section="contact">
        <i class="icon fa-solid fa-envelope"></i>
        <span class="text">Կապ</span>
      </a>
    </li>
    <li class="close_menu">
      <button class="close_menu">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </li>
  </ul>

  <!-- social media icons -->
  <div class="user_actions d-flex gap-3 align-items-center">
    <!-- facebook -->
    <a href="#" target="_blank" class="Btn fw-bold" data-bs-toggle="tooltip">(+374)-98-39-40-33</a>

    <% if (user) { %>
    <a href="<%= user.role === 'admin' ? '/admin' : '/profile' %>" class="login" data-bs-toggle="tooltip"
      data-bs-custom-class="custom-tooltip" data-bs-placement="bottom" data-bs-title="<%- user.name %>">
      <img class="nav-profile-img"
        src="https://www.yourtango.com/sites/default/files/image_blog/2024-09/traits-truly-good-woman.png"
        alt="<%- user.name %>">
    </a>
    <% } else { %>
    <button class="btn text-white rounded-pill" data-bs-target="#signIn_signUp" data-bs-toggle="modal">
      Մուտք գործել
    </button>
    <% } %>

    <button class="menu open_menu">
      <i class="fa-solid fa-bars-staggered"></i>
    </button>
  </div>
</div>