<!DOCTYPE html>
<html lang="en">

<head> <%- include('../parts/head.ejs') %> </head>

<body>
    <nav id="nav">
        <%- include('../parts/nav.ejs') %>
    </nav>
    <!-- Header -->
    <main>
        <section class="user-profile">
            <div class="container">
                <div class="main-body">
                    <div class="row">
                        <%- include('../parts/profile-sidebar.ejs') %>
                        <div class="col-lg-8">
                            <%- include('../parts/profile-nav.ejs') %>
                            <div class="row">
                                <div class="col-lg-12 history">
                                    <div class="row">
                                        <div class="col-lg-12 mb-3">
                                            <div
                                                class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
                                                <div class="row align-items-center">
                                                    <div class="col-md-8 mb-3 mb-sm-0">
                                                        <h5>
                                                            <a href="#" class="text-primary">Թեստ 5 — Ճանապարհային
                                                                նշաններ</a>
                                                        </h5>
                                                        <p class="text-sm">
                                                            <span class="op-6">Ավարտվել է</span>
                                                            <a class="text-black" href="#">15 րոպե</a>
                                                            <span class="op-6">առաջ․</span>
                                                            <a class="text-black" href="#">Արամ Պետրոսյան</a>
                                                        </p>
                                                        <div class="text-sm op-5">
                                                            <a class="text-black mr-2" href="#">⏱ Տևողությունը․ 12
                                                                րոպե</a>
                                                            <a class="text-black mr-2" href="#">✅ Արդյունք․ 18/20</a>
                                                            <a class="text-black mr-2" href="#">📋 Թեստի տեսակ․
                                                                Տեորիա</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mb-3">
                                            <div
                                                class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
                                                <div class="row align-items-center">
                                                    <div class="col-md-8 mb-3 mb-sm-0">
                                                        <h5>
                                                            <a href="#" class="text-primary">Թեստ 5 — Ճանապարհային
                                                                նշաններ</a>
                                                        </h5>
                                                        <p class="text-sm">
                                                            <span class="op-6">Ավարտվել է</span>
                                                            <a class="text-black" href="#">15 րոպե</a>
                                                            <span class="op-6">առաջ․</span>
                                                            <a class="text-black" href="#">Արամ Պետրոսյան</a>
                                                        </p>
                                                        <div class="text-sm op-5">
                                                            <a class="text-black mr-2" href="#">⏱ Տևողությունը․ 12
                                                                րոպե</a>
                                                            <a class="text-black mr-2" href="#">✅ Արդյունք․ 18/20</a>
                                                            <a class="text-black mr-2" href="#">📋 Թեստի տեսակ․
                                                                Տեորիա</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mb-3">
                                            <div
                                                class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
                                                <div class="row align-items-center">
                                                    <div class="col-md-8 mb-3 mb-sm-0">
                                                        <h5>
                                                            <a href="#" class="text-primary">Թեստ 5 — Ճանապարհային
                                                                նշաններ</a>
                                                        </h5>
                                                        <p class="text-sm">
                                                            <span class="op-6">Ավարտվել է</span>
                                                            <a class="text-black" href="#">15 րոպե</a>
                                                            <span class="op-6">առաջ․</span>
                                                            <a class="text-black" href="#">Արամ Պետրոսյան</a>
                                                        </p>
                                                        <div class="text-sm op-5">
                                                            <a class="text-black mr-2" href="#">⏱ Տևողությունը․ 12
                                                                րոպե</a>
                                                            <a class="text-black mr-2" href="#">✅ Արդյունք․ 18/20</a>
                                                            <a class="text-black mr-2" href="#">📋 Թեստի տեսակ․
                                                                Տեորիա</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mb-3">
                                            <div
                                                class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
                                                <div class="row align-items-center">
                                                    <div class="col-md-8 mb-3 mb-sm-0">
                                                        <h5>
                                                            <a href="#" class="text-primary">Թեստ 5 — Ճանապարհային
                                                                նշաններ</a>
                                                        </h5>
                                                        <p class="text-sm">
                                                            <span class="op-6">Ավարտվել է</span>
                                                            <a class="text-black" href="#">15 րոպե</a>
                                                            <span class="op-6">առաջ․</span>
                                                            <a class="text-black" href="#">Արամ Պետրոսյան</a>
                                                        </p>
                                                        <div class="text-sm op-5">
                                                            <a class="text-black mr-2" href="#">⏱ Տևողությունը․ 12
                                                                րոպե</a>
                                                            <a class="text-black mr-2" href="#">✅ Արդյունք․ 18/20</a>
                                                            <a class="text-black mr-2" href="#">📋 Թեստի տեսակ․
                                                                Տեորիա</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <footer>
        <%- include('../parts/footer.ejs') %>
    </footer>
    <!-- Scripts -->
    <%- include('../parts/scripts.ejs') %>
</body>

</html>