<!DOCTYPE html>
<html lang="en">
<head> <%- include('./parts/head.ejs') %> </head>
<body>
    <%- include('./parts/modal.ejs') %>
    <!-- Nav menu -->
    <nav id="nav">
        <%- include('./parts/nav.ejs') %>
    </nav>
    <!-- Header -->
    <header>
        <%- include('./parts/header.ejs') %>
    </header>
    <main>
        <!-- Main sections -->
        <%- include('./sections/main.ejs') %>
        <!-- Button go to top -->
        <%- include('./parts/button.ejs') %>
    </main>
    <!-- Footer -->
    <footer class="bg-dark">
        <%- include('./parts/footer.ejs') %>
    </footer>
    <!-- Scripts -->
    <%- include('./parts/scripts.ejs') %>
</body>
</html>