<% if(group) { %>
<!doctype html>
<html lang="en">
    <head><%- include('../parts/head.ejs') %></head>
    <body>
        <div class="container-scroller">
            <%- include('../parts/sidebar.ejs') %>
            <div class="container-fluid page-body-wrapper">
                <%- include('../parts/nav.ejs') %>
                <!-- Main panel -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <!-- Main content -->
                        <div class="row">
                            <div class="col-md-6 mx-auto mb-4">
                                <form action="/api/v1/groups/<%- group.id %>" method="patch">
                                    <div class="input-group mb-3">
                                        <input type="text" name="title" class="form-control d-block"
                                            value="<%- group.title %>">
                                        <button type="submit" class="btn btn-outline-success mx-2">Թարմացնել</button>
                                    </div>
                                    <textarea name="text" class="form-control"><%- group.text %></textarea>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <% if(group.questions.length) { %>
                            <% group.questions.forEach(g => { %>
                                <% 
                                    let image = { img: '' };
                                    if(g.dataValues.files.length) {
                                        let findImage = g.dataValues.files.find(file => file.name_used === 'question_img');
                                        if(findImage) {
                                            image = {
                                                id: image.id = findImage.id,
                                                img: `/client/img/questions/large/${findImage.name}.${findImage.ext}`
                                            }
                                        }
                                    } 
                                %>
                                <div class="col-lg-12 mb-4">
                                    <!-- Main content -->
                                        <div class="row">
                                            <div class="col-md-6 mx-auto grid-margin stretch-card">
                                                <div class="card question_card">
                                                    <form action="/api/v1/question/<%- g.id %>" method="delete">
                                                        <button type="submit" class="removeImageBtn btn btn-danger mb-2">Ջնջել Հարցը</button>
                                                    </form>
                                                    <div class="card-body">
                                                        <% if(image.img !== '') {%>
                                                            <form action="/api/v1/image/<%- image.id %>" method="delete">
                                                            <button type="submit" class="removeImageBtn btn btn-danger mb-2">Ջնջել նկարը</button>
                                                        </form>
                                                        <% }%>
                                                        <form action="/api/v1/question/<%- g.id %>" method="patch" enctype="multipart/form-data">
                                                            <div class="image">
                                                                <label>
                                                                    <input type="file" name="question_img" style="opacity: 0;" class="questionImageFile">
                                                                    <img src="<%- image.img %>" class="question_image" name="question_img">
                                                                </label>
                                                            </div>
                                                            <div class="py-3">
                                                                <textarea name="question" style="min-height: 10px;" placeholder="Հարց․․․"  class="form-control mb-3"><%- g.question %></textarea>
                                                                <small class="p-1 text-muted mb-2 d-block">Պաստասխաներ ♻️</small>
                                                                
                                                                <% let question = JSON.parse(g.options) %>
                                                                <ul class="list-group answer_list_items">
                                                                    <% question.forEach(text => { %>
                                                                        <li class="text-control answer_list_item d-flex">
                                                                            <textarea placeholder="Պատասխան" name="answer" class="mb-3 form-control"><%- text %></textarea>
                                                                            <button type="button" class="btn btn-danger py-3 remove_answer">Ջնջել</button>
                                                                        </li>
                                                                    <% }) %>
                                                                </ul>
                                                                <button type="button" class="btn btn-primary py-2 px-3 mb-2 add_answer">Ավելացնլե Պաստասխան․․․</button>
                                                            </div>
                                                            <select name="correctAnswerIndex" class="form-control text-warning mb-3 correctAnswerIndex">
                                                                <% Array.from({length: question.length}, (_, index) => {  %>
                                                                    <option value="<%- index+1 %>" <%= (index + 1) === g.correctAnswerIndex ? 'selected' : '' %>>ճիշտ Պաստասխանը  <%- index+1 %></option>
                                                                <% }); %>
                                                            </select>
                                                            <button type="submit" class="btn btn-success py-2 px-3">Թարմացնել</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            <% }); %>
                            <% } %>
                        </div>
                    </div>
                    <%- include('../parts/footer.ejs') %>
                </div>
            </div>
        </div>
        <%- include('../parts/scripts.ejs') %>
    </body>
    </html>
<% } %>