<% if(test) { %>
<!doctype html>
<html lang="en">

<head><%- include('../parts/head.ejs') %></head>

<body>
    <div class="container-scroller">
        <%- include('../parts/sidebar.ejs') %>
        <div class="container-fluid page-body-wrapper">
            <%- include('../parts/nav.ejs') %>
            <!-- Main panel -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <!-- Main content -->
                    <div class="row">
                        <div class="col-md-6 mx-auto mb-4">
                            <form action="/api/v1/tests/<%- test.id %>" method="patch">
                                <div class="input-group">
                                    <input type="text" name="title" class="form-control text-white" value="<%- test.title %>">
                                    <button type="submit" class="btn btn-outline-success mx-2">Թարմացնել</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <% if(test.questions.length) { %>
                        <% test.questions.forEach(q => { %>
                            <% 
                                let image = { img: 'https://thumb.ac-illust.com/b1/b170870007dfa419295d949814474ab2_t.jpeg' };
                                if(q.dataValues.files.length) {
                                    let findImage = q.dataValues.files.find(file => file.name_used === 'question_img');
                                    if(findImage) {
                                        image = {
                                            id: image.id = findImage.id,
                                            img: `/client/images/questions/large/${findImage.name}.${findImage.ext}`
                                        }
                                    }
                                } 
                            %>
                            <div class="col-lg-12 mb-4">
                                <!-- Main content -->
                                    <div class="row">
                                        <div class="col-md-6 mx-auto grid-margin stretch-card">
                                            <div class="card question_card">
                                                <form action="/api/v1/question/<%- q.id %>" method="delete">
                                                    <button type="submit" class="removeImageBtn btn btn-danger mb-2">Ջնջել Հարցը</button>
                                                </form>
                                                <div class="card-body">
                                                    <% if(image.img !== '') {%>
                                                        <form action="/api/v1/image/<%- image.id %>" method="delete">
                                                           <button type="submit" class="removeImageBtn d-block btn btn-danger mb-1 ml-auto">Ջնջել նկարը</button>
                                                       </form>
                                                    <% }%>
                                                    <form action="/api/v1/question/<%- q.id %>" method="patch" enctype="multipart/form-data">
                                                        <div class="image">
                                                            <label>
                                                                <input type="file" name="question_img" style="opacity: 0;" class="questionImageFile">
                                                                <img src="<%- image.img %>" class="question_image" name="question_img">
                                                            </label>
                                                        </div>
                                                        <div class="py-3">
                                                            <textarea rows="10" name="question" placeholder="Հարց․․․"  class="form-control mb-3 text-white"><%- q.question %></textarea>
                                                            <small class="p-1 text-muted mb-2 d-block">Պաստասխաներ ♻️</small>
                                                            
                                                            <% let question = JSON.parse(q.options) %>
                                                            <ul class="list-group answer_list_items">
                                                                <% question.forEach(text => { %>
                                                                    <li class="text-control answer_list_item d-flex">
                                                                        <textarea placeholder="Պատասխան" name="answer" class="mb-3 form-control text-white"><%- text %></textarea>
                                                                        <button type="button" class="h-25 d-block btn btn-danger py-3 remove_answer">Ջնջել</button>
                                                                    </li>
                                                                <% }) %>
                                                            </ul>
                                                            <button type="button" class="btn btn-primary py-2 px-3 mb-2 add_answer">Ավելացնլե Պաստասխան․․․</button>
                                                        </div>
                                                        <select name="correctAnswerIndex" class="form-control text-warning mb-3 correctAnswerIndex">
                                                            <% Array.from({length: question.length}, (_, index) => {  %>
                                                                <option value="<%- index+1 %>" <%= (index + 1) === q.correctAnswerIndex ? 'selected' : '' %>>ճիշտ Պաստասխանը  <%- index+1 %></option>
                                                            <% }); %>
                                                        </select>
                                                        <button type="submit" class="btn btn-success py-2 px-3">Թարմացնել</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        <% }); %>
                        <% } %>
                    </div>
                </div>
                <%- include('../parts/footer.ejs') %>
            </div>
        </div>
    </div>
    <%- include('../parts/scripts.ejs') %>
</body>

</html>
<% } %>