<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0"><%- tests.length %></h3>
                        <p class="text-success ml-2 mb-0 font-weight-medium">Թեստ</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="icon icon-box-success ">
                        <span class="mdi mdi-arrow-top-right icon-item"></span>
                    </div>
                </div>
            </div>
            <h6 class="text-muted font-weight-normal"><%- testQuestions.length %> Հարց</h6>
        </div>
    </div>
</div>
<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0"><%- groups.length %></h3>
                        <p class="text-success ml-2 mb-0 font-weight-medium"> Խումբ</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="icon icon-box-success">
                        <span class="mdi mdi-arrow-top-right icon-item"></span>
                    </div>
                </div>
            </div>
            <h6 class="text-muted font-weight-normal"><%- groupQuestions.length %> հարց</h6>
        </div>
    </div>
</div>
<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0"><%- questions.length %></h3>
                        <p class="text-success ml-2 mb-0 font-weight-medium"> հարց
                        </p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="icon icon-box-success">
                        <span class="mdi mdi-arrow-top-right icon-item"></span>
                    </div>
                </div>
            </div>
            <h6 class="text-muted font-weight-normal"></h6>
        </div>
    </div>
</div>
<% if(users) { %>
<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">
                            <%- users.length %>
                        </h3>
                        <p class="text-success ml-2 mb-0 font-weight-medium">հոգի</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="icon icon-box-success ">
                        <span class="mdi mdi-arrow-top-right icon-item"></span>
                    </div>
                </div>
            </div>
            <h6 class="text-muted font-weight-normal">Գրանցված օգտվող</h6>
        </div>
    </div>
</div>
<% } %>
